<div class="container m-4">
  <h3 class='mb-5'>New Booking</h3>

  <%= simple_form_for [@ski, @booking] do |f| %>
    <div class="form-inputs w-50 d-flex">
      <div class="pe-3">
        <%= f.input :start_date.to_s,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      </div>
      <div>
        <%= f.input :end_date.to_s,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      </div>
    </div>
    <div>
      <p>Total Price: <%=  %></p>
    </div>
    <div class="form-actions">
      <%= f.submit "Reserve", class: "btn btn-dark" %>
    </div>
  <% end %>
</div>
