<h2>Over 1,000 skis</h1>
<% @skis.each do |ski| %>
<div class="row">
  <div class="col-sm-4">
    <div class="card bg-light text-dark" style="width: 18rem;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr5_01BcxNccbOeI0TTkO2jEueYlSqLXIn6w&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= ski.brand %></h5>
        <p class="card-text"><%= ski.location %></p>
        <p class="card-text"><%= ski.size %></p>
        <p class="card-text"><%= ski.experience_level %></p>
        <p class="card-text"><%= ski.daily_price %></p>
        <a href="#" class="btn btn-dark">Go somewhere</a>
      </div>
  </div>
  </div>
</div>
<% end %>
