<div class="container pt-4">
  <div class="row ski-offer">
    <div class="col-sm-4 d-flex justify-content-center">


      <img class="ski-image" src="<%= cl_image_path @ski.photo.key %>"  style="width: 100%" />
    </div>
    <div class="col-sm-8 card-product-infos">
      <div>
        <h4><strong><%= @ski.brand.upcase %> Skis in perfect conditions</strong></h4>
        <div class="star-div d-flex pb-4">
          <div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
          <div class="ps-3">
            4.5
          </div>
          <div class="div-button">
            <%= link_to "Book now", new_ski_booking_path(@ski.id), class: "btn btn-flat btn-dark" %>
          </div>
        </div>
      </div>
      <div class="info-div">
        <p><strong>Experience Level:</strong> <%= @ski.experience_level %></p>
      </div>
      <div class="info-div">
        <p><strong>Size:</strong> <%= @ski.size %> cm</p>
      </div>
      <div class="info-div">
        <p><strong>Daily Price:</strong> $<%= @ski.daily_price %></p>
      </div>
      <div class="info-div">
        <p><strong>Location:</strong> <%= @ski.location %></p>
      </div>
      <div class="info-div">
        <p><strong>Description:</strong> <%= @ski.brand %> is known for their history in the ski world, having been used in every Olympics bar the first one in 29 AD.</p>
      </div>
    </div>
  </div>
</div>
